%h1 Profile Details
%table
  %tr
    %th First Name
    %th Last Name
    %th Nick Name
    %th Permanent Address
    %th Local Address
    %th Country
    %th State
    %th City
    %th Contact Number
    %th Date_Of_Birth
    %th Facebook
    %th Twitter Handle

  
  - @profiles.each do |profile|
    %tr
      %td= @profile.first_name
      %td= @profile.last_name
      %td= @profile.nick_name
      %td= @profile.permanent_address
      %td= @profile.local_address
      %td= @profile.country
      %td= @profile.state
      %td= @profile.city
      %td= @profile.contact_number
      %td= @profile.date_of_birth
      %td= @profile.facebook
      %td= @profile.twitter_handle 
      %td= link_to 'Show', @profile
      %td= link_to 'Edit', edit_profile_path(profile)