= simple_form_for @content do |f|
  = f.input :content_body
  = f.input :sq_no, 
    label: 'Sequence Number'
  = f.input :content_type
  = f.input :topic_content
  = f.input :topic_id,
    as: :select,
    collection: @topics
  = f.button :submit
