<div id="devise">
  <div class="devise-container colored-block">
    <h3>Sign up</h3>

    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
    		<%= f.input :email, :required => true, :autofocus => true, :label_html => {class: 'span3'} %>
    		<%= f.input :password, :required => true, :label_html => {class: 'span3'} %>
    		<%= f.input :password_confirmation, :required => true, :label_html => {class: 'span3'} %>
        <%= f.input :roles, :as => :hidden, :input_html => {:value => "Student" }, :label_html => {class: 'span3'} %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: 'btn btn-large btn-login btn-inverse' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
