<!DOCTYPE html> 
<html>   
  <head>     
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />   
  </head>   
    <body>
      <p>
        <i> Hello sir,</i>
      </p>
      <p>
      <%= @nominate.description %></br>User details as follows.</br></br>
      <%= @nominate.name %></br>mobile number is<%= @nominate.mobile %>email address is <%= @nominate.email %></br>
      address is <%= @nominate.address %>
      </p>    

</br>
</br>
Regards,
</body>
</html>