= simple_nested_form_for [@level, @topic], html:  {:class => 'form-horizontal'} do |f|
  = @topic.errors.full_messages.to_sentence
  .form-inputs
    = f.hidden_field :level_id
    = f.input :title
    = f.input :description, as: :text, :input_html => {:rows => 2}
    %hr
    %ul.nav.nav-tabs
      %li.active
        %a{ href: "#content", 'data-toggle' => "tab"}Content
    .tab-content.topic-form
      .tab-pane.active#content
        = f.simple_fields_for :contents do |content|
          %h6
            New Content
          = content.input :title, :label => "Content title"
          = content.input :content_body, as: :ckeditor, :input_html => {:ckeditor => {:toolbar => 'mini'}}
          = content.input :sq_no, :label => "Sequence number"
          %label.control-label Upload File
          .controls= content.file_field :topic_content
          %br
          = content.input :transcript, as: :text, :input_html => {:rows => 2}
          %br
          %hr
          = content.simple_fields_for :questions do |question|
            %h6 New Question
            NOTE: minimum 3 options required
            = question.input :question_type, :collection => ["Simple", "Medium", "Hard"],
                             :prompt => "Select question type",
                             :input_html => {:id => "ddr_question_type"}
            = question.input :sq_no,  :label => "Sequence number"
            = question.input :query
            = question.simple_fields_for :options do |option|
              %h6 Option
              = option.input :label
              = option.input :is_valid, as: :boolean
              %br
              .pull-right= option.link_to_remove "Remove this option"
              %hr
            = question.link_to_add "Add more option", :options, :class => 'pull-right'
            %br
            .pull-right= question.link_to_remove "Remove this question"
            %hr
          = content.link_to_add "Add more questions", :questions, :class => 'btn btn-info'
          .pull-right= content.link_to_remove "Remove this content"
        = f.link_to_add "Add more contents", :contents, :class => 'btn btn-info'

  .form-actions
    = f.button :submit, class: 'btn-success'