%h1.beta.topic-title
  = content.title
%section.topic
  .row
    .audio
      =audio_tag content.topic_content, autoplay: false, controls: true
      -# %button.btn{:style => "float: left;"} Transcript
  .row
    .tabbable.tabs-left.topic-details
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#t_#{content.id.to_s}"} Transcript
        %li
          %a{"data-toggle" => "tab", :href => "#s_#{content.id.to_s}"} Summary
        %li
          %a{"data-toggle" => "tab", :href => "#test_#{content.id.to_s}"} Test
      .tab-content
        .tab-pane.transcript.active{:id => "t_#{content.id.to_s}"}
          %p
            = content.transcript
        .tab-pane.summary{ :id => "s_#{content.id.to_s}"}
          %p
            = raw content.content_body
            %ul
              %li bullet 1
              %li bullet 2              
        .tab-pane.test{:id => "test_#{content.id.to_s}"}
          %p 
            %span.question How many bits in a byte? 
            %form
              .control-group
                .controls
                  %label.radio
                    %input#optionsRadios1{:name => "optionsRadios", :type => "radio", :value => "option1"} 1 byte has 8 bits
                    %label.radio
                      %input#optionsRadios2{:name => "optionsRadios", :type => "radio", :value => "option2"} 1 byte has 2 bits
                    %label.radio
                      %input#optionsRadios3{:name => "optionsRadios", :type => "radio", :value => "option3"} 1 byte has 10 bits
                %button.btn Don't Know
                %button.btn Confirm

