%h2.delta Topic Details for #{@level.level_name} level 
%table.table
  %tr
    %th Title
    %th Description
    %th

  - @topics.each do |topic|
    %tr  
      %td= topic.title
      %td= topic.description
      %td= link_to "Edit", edit_level_topic_path(@level, topic)    
      %td= link_to "Show", level_topic_path(@level, topic)

= link_to "New topic", new_level_topic_path, class: "btn btn-large"
= link_to "BACK" , levels_list_path, class: "btn btn-large"
