%h1 Topic Details
%table.table
  %tr
    %th Title
    %th Description
    %th

  - @topics.each do |topic|
    %tr  
      %td= topic.title
      %td= topic.description
      %td= link_to "Edit", edit_topic_path(topic)    
      %td= link_to "Show", show_topic_path(topic)

= link_to "New topic", new_topic_path