.topic
  .row
    .span8.offset2
      - @contents.each do |content|
        %h1.beta.topic-title
          = content.title
        %section.topic
          .row
            .audio
              =audio_tag content.topic_content, autoplay: false, controls: true
              -# %button.btn{:style => "float: left;"} Transcript
        .row
          .tabbable.tabs-left.topic-details
            %ul.nav.nav-tabs
              %li.active
                %a{"data-toggle" => "tab", :href => "#t_#{content.id.to_s}"} Transcript
              %li
                %a{"data-toggle" => "tab", :href => "#s_#{content.id.to_s}"} Summary
              %li
                = link_to "Take Test", take_test_path, :remote => true, "data-toggle" => "tab", "data-target" => "#test_#{@topic.id.to_s}"
          .tab-content
            .tab-pane.transcript.active{:id => "t_#{content.id.to_s}"}
              %p
                = content.transcript
            .tab-pane.summary{ :id => "s_#{content.id.to_s}"}
              %p
                = raw content.content_body
            .tab-pane.test{:id => "test_#{@topic.id.to_s}"}
