- content_for :javascript do
  = javascript_include_tag 'users'
%h1 Profile
%h2 Personal information:
%table.table 
  %tr
    %th Name
    %th Correspondence Address
    %th Date Of Birth
    %th Contact Number
    %th= @user.profile.disability if @user.profile.disability.present? 
  %tr
    %td= @user.profile.first_name + " " + @user.profile.last_name
    %td= @user.profile.correspondence_address + " " +  @user.profile.city + " " + @user.profile.state + " "  + @user.profile.country
    %td= @user.profile.date_of_birth
    %td= @user.profile.contact_number
    %td= @user.profile.disability_percentage + "%" if @user.profile.disability_percentage.present?

%h2 social media information:
%table.table
  %tr
    %th Facebook
    %th Twitter Handle
  %tr
    %td= @user.profile.facebook
    %td= @user.profile.twitter

= link_to 'Edit profile', edit_user_path(current_user), class: 'btn btn-large btn-success'

%br
  = link_to 'Back', levels_path, class: 'btn btn-large btn-success'
