- content_for :javascript do
  = javascript_include_tag 'validations'
= simple_form_for @nominate, url: nominate_path(@nominate), method: :post, html: {:class => 'form-horizontal'}  do |f|
  = f.error_notification
  %p#errorcontainer

  .form-inputs
    = f.input :name
    = f.input :email, required: false
    = f.input :mobile
    = f.input :phone_number, required: false
    = f.input :address, as: :text, :input_html => {:cols => 20, :rows => 5}
    = f.input :description, as: :text, :input_html => {:cols => 20, :rows => 5}, required: false 

  .form-actions
    = f.submit "Nominate", class: 'btn btn-large btn-success'
    = link_to "Cancel", root_path, class: 'btn btn-large btn-success'
