#grid-wrapper.lessons{:role => "application"}
  %h1 Select level
  #game-levels.no-focus{role: 'grid', tabindex: '0'}
    - (1..@levels.count).to_a.each_slice(2).each_with_index do |levels, row_index|
      .row{role: 'row'}
        - levels.each_with_index do |level, col_index|
          - @level = @levels[level-1]
          - level_cookies_count = @level.calculate_cookies_count
          .gridcell{id: "row_#{row_index}_col_#{col_index}", role: 'gridcell', "aria-labelledby"=> "level_number_#{@level.level_number}", "aria-describedby"=>"level_caption_#{@level.level_number}"}
            .span2.summary-coin.colored-block
              = "#{level_cookies_count}"
            .span4.lesson-summary.colored-block.no-focus
              %header{id: "level_number_#{@level.level_number}"}
                .counter{class: "counter-#{@level.level_number}"}
                = @level.level_number
              %p.description{id: "level_caption_#{@level.level_number}"}
                = @level.level_name
              %a.btn.btn-mini.btn-try-now{:href => level_path(@level)} Try now
