- content_for :javascript do
  = javascript_include_tag 'levels'
%h1.delta Display levels
%table.table
  %tr
    %th Level name
    %th Level number
    %th 
    %th

  - @levels.each do |level|
    %tr
      %td= link_to level.level_name, level_topics_path(level)
      %td= level.level_number
      %td= link_to "Edit", edit_level_path(level)
      %td= link_to "Destroy", level, method: :delete, data: { confirm: 'Are you sure?' }

= link_to "New level", new_level_path, class: "btn btn-large"
= link_to "Cancel", levels_path, class: "btn btn-large"
