%h1 Display levels
%table.table
  %tr
    %th Level name
    %th Level number
    %th 
    %th

  - @levels.each do |level|
    %tr
      %td= link_to level.level_name, level_topics_path(level)
      %td= level.level_number
      %td= link_to "Edit", edit_level_path(level)
      %td= link_to "Destroy", level, method: :delete, data: { confirm: 'Are you sure?' }

= link_to "New level", new_level_path