.level
  .row
    .span6
      .row-fluid
        .counter{class: "counter-7"}
        %h1.gamma.level-header #{@level.level_name}
  .row
    .span3.level-scoring
      .score-wrapper
        %ul.unstyled.score.large
          - @level.calculate_coins_count.times do |count|
            %li.score-indicator{ :class => "#{'complete' if count < @topics.collect{|topic| won_topic_coins(topic)}.inject(:+)}"}
        %span.delta  #{@topics.collect{|topic| won_topic_coins(topic)}.inject(:+)} of #{@level.calculate_coins_count} coins  won
    .span9
      - @topics.each do |topic|
        .row-fluid.level-topic-wrapper.colored-block
          .span9
            .row-fluid.level-topic
              .span3
                .score-wrapper
                  %ul.unstyled.score
                    - topic_coins = topic_calculate_coins(topic).to_i
                    - topic_coins.times do |count|
                      %li.score-indicator{ :class => "#{'complete' if count < won_topic_coins(topic)}"}

              .span9.topic-details
                %h2.delta= topic.title
                %p.topic-description= topic.description  
                %a.btn.btn-start-topic= link_to " Start topic", level_topic_path(@level, topic)
          .span3
            - if topic_questions_count(topic) == Attempt.where(:user => current_user, :topic => topic, :solved => true).collect(&:solved).size          
              .topic-score.right
              - @count = @count + 1 
            - else
              .topic-score.wrong
             
      - if @level.topics.count == @count
        %button{:class => "btn-bonus-round unlocked",:href => "#", :onclick => "document.getElementById('bonus_round').style.display = 'block';"} Bonus Round Unlocked
      - else
        %button{:disabled => "true", :class => "btn-bonus-round"} Bonus Round Locked
      #bonus_round{:style => "display: none"}
        - if @bonus == nil
          %h3 Sorry !!Bonus Round Question not available for this level!!!!
        - else
          BONUS ROUND QUESTIONS
          - @bonus.questions.each do |question|
          - attempt = Attempt.where(:question => question, :user => current_user).first if current_user.attempts.count     > 0
            - flag = false
            - if attempt != nil
              - flag = true if attempt.solved == true
            - if flag == false
              .span.question{:id => "q_#{question.id}"}
                QUESTION:
                = question.query
                %br
                %br
                = simple_form_for question, :url => attempt_bonus_question_path(question), remote: true do |f|
                  .control-group
                    .controls
                      OPTIONS:
                      %br
                      = f.collection_radio_buttons :options, question.options.collect{|opt| [opt.id, opt.label]}, :first,     :last
                      = f.submit 'Submit', :class => 'btn'
            %p{:id => "answer_#{question.id}"}
  = render_shareable :url => request.url
