#navbar-top
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        .row
          .brand
            Brails
          .span5.pull-right
            %ul.nav.pull-right
              - if user_signed_in?
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}                  
                    = current_user.email
                    %b.caret
                  %ul.dropdown-menu
                    %li= link_to 'Edit profile', '#' 
                    %li=  link_to 'Logout', destroy_user_session_path, :method => :delete
              - else
                %li
                  = link_to 'Sign up', new_user_registration_path
                %li
                  = link_to "Nominate", new_user_invitation_path