#navbar-top
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container{:role => "navigation"}
        .row
          .brand
            = link_to "Brails", "/"
          .span5.pull-right
            %ul.nav.pull-right
              %li
                = link_to "Nominate", nominate_path
              - if user_signed_in?
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}                  
                    = current_user.email
                    %b.caret
                  %ul.dropdown-menu
                    - if current_user.profile.nil?
                      %li= link_to 'New profile', edit_user_path(current_user) 
                    - else
                      %li= link_to 'Edit profile', edit_user_path(current_user)
                    %li=  link_to 'Logout', destroy_user_session_path, :method => :delete
              - else
                %li
                  = link_to 'Sign up', new_user_registration_path
