%html.white
  %head
    %title Brails
    = stylesheet_link_tag    "application", :media => "all"
    %link{:href => "http://fonts.googleapis.com/css?family=Cabin:400,600", :rel => "stylesheet", :type => "text/css"}/
    = csrf_meta_tags
  %body.textsize-625
    .control-panel
      %ul.switcher.font-switcher
        %li.switch.btn-change-font-size{:data => {:size => "up"}, :role => "button", "aria-labelledby" => "increase"} +
        .hidden{:id => "increase", "aria-hidden" => "true"} Increase font size
        %li.switch.btn-change-font-size{:data => {:size => "reset"}, :role => "button", "aria-labelledby" => "reset"} A
        .hidden{:id => "reset", "aria-hidden" => "true"} Reset font size
        %li.switch.btn-change-font-size{:data => {:size => "down"}, :role => "button", "aria-labelledby" => "decrease"} -
        .hidden{:id => "decrease", "aria-hidden" => "true"} Decrease font size
      %ul.switcher.color-switcher
        %li.switch.white{:data => {:color => "white"}, :role => "button", "aria-labelledby" => "white"}
        .hidden{:id => "white", "aria" => "true"} White
        %li.switch.yellow{:data => {:color => "yellow"}, :role => "button", "aria-labelledby" => "yellow"}
        .hidden{:id => "yellow", "aria" => "true"} Yellow
        %li.switch.orange{:data => {:color => "orange"}, :role => "button", "aria-labelledby" => "orange"}
        .hidden{:id => "orange", "aria" => "true"} Orange
        %li.switch.black{:data => {:color => "black"}, :role => "button", "aria-labelledby" => "black"}
        .hidden{:id => "black", "aria" => "true"} Black
    = render 'header'
    = show_flash_messages if show_flash_messages.present? 
    .container.main-container
      = yield
    = javascript_include_tag "application"

