%html
  %head
    %title Brails
    = stylesheet_link_tag    "application", :media => "all"
    %link{:href => "http://fonts.googleapis.com/css?family=Cabin:400,600", :rel => "stylesheet", :type => "text/css"}/
    = csrf_meta_tags
  %body
    = render 'header'
    = show_flash_messages if show_flash_messages.present? 
    .logo{:style => "text-align: center; margin: 20px 0;"}
      =image_tag "/images/brails-logo.png"
    .container.main-container{role: 'application'}
      = yield
    = javascript_include_tag "application"
