%html.white
  %head
    %title Brails
    = stylesheet_link_tag    "application", :media => "all"
    %link{:href => "http://fonts.googleapis.com/css?family=Cabin:400,600", :rel => "stylesheet", :type => "text/css"}/
    = csrf_meta_tags
  %body.textsize-625
    %a.element-invisible{:href => "#main"} Skip to main content
    - if browser.ie? && browser.version.to_i <9
      %p.disclaimer You are running an older browser, please upgrade to IE 9 +
    - if browser.firefox? && browser.version.to_i < 20
      %p.disclaimer You are running an older browser please upgrade to Firefox 20 +
    .control-panel{:role => "region", :title => "Accessibility"}
      %h2.element-invisible Accessibility settings
      %ul.switcher.font-switcher{:style => "list-style-type:none;"}
        %li.switch.btn-change-font-size{:data => {:size => "up"}}
          %a{:href=>'#'}
            %img{:src =>'/images/plus-text-image.jpg', :alt => 'Increase font size'}
        %li.switch.btn-change-font-size{:data => {:size => "reset"}}
          %a{:href=>'#'}
            %img{:src =>'/images/reset-text-image.jpg', :alt => 'Reset font size'}
        %li.switch.btn-change-font-size{:data => {:size => "down"}}
          %a{:href=>'#'}
            %img{:src =>'/images/minus-text-image.jpg', :alt => 'Decrease font size'}
      %ul.switcher.color-switcher{:style => "list-style-type:none;"}
        %li.switch.white{:data => {:color => "white"}}
          %a{:href=>'#'}
            %img{:src =>'/images/white-icon-image.png', :alt => 'White theme'}
        %li.switch.yellow{:data => {:color => "yellow"}}
          %a{:href=>'#'}
            %img{:src =>'/images/yellow-icon-image.png', :alt => 'Yellow theme'}    
        %li.switch.orange{:data => {:color => "orange"}}
          %a{:href=>'#'}
            %img{:src =>'/images/orange-icon-image.png', :alt => 'Orange theme'}
        %li.switch.black{:data => {:color => "black"}}
          %a{:href=>'#'}
            %img{:src =>'/images/black-icon-image.png', :alt => 'Black theme'}
    = render 'header'
    = show_flash_messages if show_flash_messages.present? 
    .container.main-container{:role => "main", :id => "main"}
      = yield
    = javascript_include_tag "application"

